@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.component-list {
  @apply flex flex-nowrap mt-4 gap-2 overflow-x-auto overflow-y-hidden;
}

.page-content-top {
  @apply min-h-72 p-4;
}

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
